<div class="content-header row"></div>
<div class="content-body">
    <section class="flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-lg-8 col-md-8 col-10 p-0">
                <div class="card-header bg-transparent border-0">
                    <img class="mx-auto d-block" src="assets/images/404.png" width="250" height="250" />
                    <h3 class="mt-2 text-center">[LANG_404_PAGE_NOT_FOUND]</h3>
                </div>
                <div class="card-content">
                    <div class="row mb-5">
                        <div class="col-lg-12">
                            <a href="index.php" class="btn btn-block mt-2"><i class="ft-home"></i> [LANG_BACK_TO_HOME]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>